.container {
    width: 100%;
    min-width: 1000px;
}
/*对话框*/
#dashuDialog {
    margin: auto;
    border: solid 1px;
    padding: 2rem;
    width: 900px;
    height: 580px;
}
.clearfix:after {
    clear: both;
}
/*纵向三个模块*/
#modalA,#modalB,#modalC {
    float: left;
    height: 100%;
}
#modalA,#modalB {
    border: solid;
    border-width: 0px 1px 0px 0px;
}
#modalA {
    width: 49%;
}
#modalB {
    width: 30%;
}
#modalC {
    border: none;
    width: 20%;
}
/*模块中的小模块*/
#partA {
    height: 45%;
    border: solid;
    border-width: 0 0 1px 0;
}
#partB {
    height: 55%;
    padding-top: 1rem;
}
#partC {
    height: 40%;
    padding: 0 10px 0px 10px;
    border: solid;
    border-width: 0 0 1px 0;
}
#partD {
    height: 59%;
    padding: 10px 10px 0 10px;
}

#picture {
    width: 50%;
    float: left;
}
#introduce {
    width: 50%;
    float: left;
}

/*partB中文本框*/
.text-group {
    margin-bottom: 25px;
}