<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/dialog.css?v=2">
</head>
<body>
    <div class="container">
        <div id="dashuDialog" class="clearfix">
            <div id="modalA">
                <div id="partA">
                    <div id="picture">
                        <img src="../img/xsyl.gif" alt="宠物展示">
                    </div>
                    <div id="introduce">
                        <div style="padding: 1rem">
                            <div class="text-group">
                                <div>
                                    <label>名称</label>
                                    <div>仙兽翼龙</div>
                                </div>
                            </div>
                            <div class="text-group">
                                <div>
                                    <label>等级</label>
                                    <div>0级</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="equip">
                                <img src="../img/equip1.png" alt="宠装1">
                                <img src="../img/equip2.png" alt="宠装2">
                                <img src="../img/equip3.png" alt="护符">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separate-line"></div>
                <div id="partB">
                    <div class="text-group">
                        <div>
                            <label>携带等级</label>
                            <div style="width: 88px">0级</div>
                        </div>
                        <div>
                            <label>天资</label>
                            <div>S(15150)</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>气血</label>
                            <div>176/176</div>
                        </div>
                        <div>
                            <label>体质</label>
                            <div>20</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>魔法</label>
                            <div>120/120</div>
                        </div>
                        <div>
                            <label>魔力</label>
                            <div>20</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>攻击</label>
                            <div>90</div>
                        </div>
                        <div>
                            <label>力量</label>
                            <div>20</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>防御</label>
                            <div>33</div>
                        </div>
                        <div>
                            <label>耐力</label>
                            <div>20</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>速度</label>
                            <div>37</div>
                        </div>
                        <div>
                            <label>敏捷</label>
                            <div>20</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>灵力</label>
                            <div>30</div>
                        </div>
                        <div>
                            <label>潜力</label>
                            <div>0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modalB">
                <div id="partC">
                    <div class="text-group">
                        <div>
                            <label>攻击资质</label>
                            <div style="background: linear-gradient(to bottom, #3EB47E, #24AB48)">1600</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>防御资质</label>
                            <div style="background: linear-gradient(to bottom, #3EB47E, #24AB48)">1600</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>体力资质</label>
                            <div style="background: linear-gradient(to bottom, #3EB47E, #24AB48)">1550</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>法力资质</label>
                            <div style="background: linear-gradient(to bottom, #3EB47E, #24AB48)">1500</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>速度资质</label>
                            <div style="background: linear-gradient(to bottom, #3EB47E, #24AB48)">1500</div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div>
                            <label>&emsp;寿&emsp;命</label>
                            <div>★永生★</div>
                        </div>
                    </div>
                </div>
                <div class="separate-line"></div>
                <div id="partD">
                    <div style="margin-top: 20px">
                        <ul>
                            <li style="background: url('../img/高级神佑复生.jpg') no-repeat"></li>
                            <li style="background: url('../img/高级法术暴击.jpg') no-repeat"></li>
                            <li style="background: url('../img/高级审判.jpg') no-repeat"></li>
                            <li style="background: url('../img/雷厉风行.jpg') no-repeat"></li>
                        </ul>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="modalC">
                <div id="partE">
                    <div>
                        <img src="../img/仙兽翼龙.png" style="width: 45px; height: 45px" alt="放入宠物">
                        <button type="button" class="btn-primary">放入宠物</button>
                    </div>
                    <div>
                        <img src="../img/icon.png" style="width: 45px; height: 45px" alt="放入兽决">
                        <button type="button" class="btn-primary">放入兽决</button>
                    </div>
                    <button type="button" class="btn-primary">合成</button>
                </div>
            </div>
        </div>
        <div id="select-modal">
            <p style="color: #A5E9BF">宠物</p>
            <div class="btn-group">
                <div class="btn-box btn-box-active">
                    <button type="button" class="btn-primary">0-25级</button>
                    <div class="sign-bottom"></div>
                </div>
                <div class="btn-box">
                    <button type="button" class="btn-primary">35-55级</button>
                    <div class="sign-bottom"></div>
                </div>
                <div class="btn-box">
                    <button type="button" class="btn-primary">65级以上</button>
                    <div class="sign-bottom"></div>
                </div>
                <div class="btn-box">
                    <button type="button" class="btn-primary">特殊宠物</button>
                    <div class="sign-bottom"></div>
                </div>
            </div>
            <div class="separate-line"></div>
            <div class="table-group">
                <table class="table-pet-title" border="1">
                    <tr>
                        <td>宠物名称</td>
                        <td>携带等级</td>
                        <td>价格</td>
                    </tr>
                </table>
                <table class="table-pet">
                    <tr>
                        <td>金钱龟</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>大蝙蝠</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>大耳兔</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>野猪</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>异蛇</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>强盗</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>飞贼</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>赌鬼</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>骷髅</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                    <tr>
                        <td>霜狼</td>
                        <td>0级</td>
                        <td>7500</td>
                    </tr>
                </table>
            </div>
            <div style="margin-top: 10px">
                <button type="button" class="btn-warning">选择</button>
            </div>
        </div>
    </div>
</body>
</html>