<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/dialog.css">
</head>
<body>
    <div class="container">
        <div id="dashuDialog" class="clearfix">
            <div id="modalA">
                <div id="partA">
                    A
                </div>
                <div id="partB">
                    B
                </div>
            </div>
            <div id="modalB">
                <div id="partC">
                    C
                </div>
                <div id="partD">
                    D
                </div>
            </div>
            <div id="modalC">
                <div id="partE">
                    E
                </div>
            </div>
        </div>
    </div>
</body>
</html>