<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/dialog.css">
</head>
<body>
    <div class="container">
        <div id="dashuDialog" class="clearfix">
            <div id="modalA">
                <div id="partA">
                    <div id="picture">
                        <img src="#" alt="宠物展示">
                    </div>
                    <div id="introduce">
                        <div style="padding: 1rem">
                            <div style="margin-top: 5px">
                                <label>名称</label>
                                <span style="margin-left: 2rem">name</span>
                            </div>
                            <div style="margin-top: 5px">
                                <label>等级</label>
                                <span style="margin-left: 2rem">level</span>
                            </div>
                        </div>
                        <div>
                            <div style="padding: 1.5rem">
                                <img src="#" alt="宠装1" width="45" height="45">
                                <img src="#" alt="宠装2" width="45" height="45">
                                <img src="#" alt="护符" width="45" height="45">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="partB">
                    <div class="text-group">
                        <div style="width: 50%;float: left">
                            <label>携带等级</label>
                            <span>95</span>
                        </div>
                        <div style="width: 50%;float: left">
                            <label>天资</label>
                            <span>17777</span>
                        </div>
                    </div>
                    <div class="text-group">
                        <div style="width: 50%;float: left">
                            <label>气血</label>
                            <span>3500</span>
                        </div>
                        <div style="width: 50%;float: left">
                            <label>体质</label>
                            <span>246</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modalB">
                <div id="partC">
                    <div class="text-group">
                        <div>
                            <label>攻击资质</label>
                            <span>1550</span>
                        </div>
                    </div>
                </div>
                <div id="partD">
                    <div style="margin-top: 20px">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="modalC">
                <div id="partE">
                    E
                </div>
            </div>
        </div>
    </div>
</body>
</html>