<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            width: 100%;
            min-width: 1000px;
        }
        #dashuDialog {
            margin: auto;
            border: solid 1px;
            width: 800px;
            height: 400px;
        }
        #dashuDialog div {
            float: left;
            margin-right: 5px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div id="dashuDialog">
            <div>aaa</div>
            <div>aaa</div>
            <div>aaa</div>
            <div>aaa</div>
            <div>aaa</div>
        </div>
    </div>
</body>
</html>